/* Offre*/

#offre {
  background-color: #103242;
  margin-bottom: 20rem;
}

#offre .titre .cross {
  background: #fef8f2;
  position: relative;
  top: 60px;
  left: 450px;
  width: 3px;
  height: 100px;
}

#offre .titre {
  padding: 5rem;
}

#offre .titre .cross:after {
  position: absolute;
  background: #fef8f2;
  left: -500px;
  width: 600px;
}

#boxes_offre {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  gap: 2rem;
  margin: 0 10% 0 10%;
}

.box_offre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  background: #f1d3ce;
  border-radius: 0.6rem;
}
.box_offre > p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: 0;
}

.box_offre > img {
  width: 100%;
  height: auto;
}

.box_offre > h5 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  #boxes_offre {
    flex-direction: column;
    margin: 0 2% 0 2%;
  }
  .box_offre {
    width: 90%;
  }
}
.btn_voir {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #103242;
}

.type5 {
  color: #37616a;
  background-color: #f1d3ce;
}

.type5::after,
.type5::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.type5::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #37616a;
  border-right-color: #37616a;
}

.type5::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #37616a;
  border-left-color: #37616a;
}

.type5:hover::after,
.type5:hover::before {
  border-bottom-color: #103242;
  border-right-color: #103242;
  border-top-color: #103242;
  border-left-color: #103242;
  width: 100%;
  height: 100%;
}

.type4 {
  color: #103242;
}
.type4::after,
.type4::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.type4::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #103242;
  border-right-color: #103242;
}

.type4::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #103242;
  border-left-color: #103242;
}

.type4:hover::after,
.type4:hover::before {
  border-bottom-color: #103242;
  border-right-color: #103242;
  border-top-color: #103242;
  border-left-color: #103242;
  width: 100%;
  height: 100%;
}

/* width: 114.33px;
    height: 36.61px;
    border-radius: 6px;
    background: #37616a;
    text-align: center;
  
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.2rem;
    margin-bottom: 1.7rem;
    color: #f1d3ce;
    font-size: 2.4rem; */

/* .btn_voir:hover {
    width: 114.33px;
    height: 36.61px;
    border-radius: 6px;
    background: #f1d3ce;
    text-align: center;
  
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.2rem;
    margin-bottom: 1.7rem;
    color: #37616a;
    border: #37616a solid 1px;
    font-size: 2.4rem;
  } */
