/*variables */

:root {
  --bleu: #103242;
  --creme: #fff6e0;
  --rose: #f1d3ce;
  --orange: #fcdbbd;
  --blanc: #fef8f2;
  --bleu2: #37616a;
  --bleu_clair: #a4cfc4;
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 12px;
}
/*le site */
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}

/*fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "canelabold";
  src: url("fonts/canela-bold-webfont.woff2") format("woff2"),
    url("fonts/canela-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "canelabold_italic";
  src: url("fonts/canela-bolditalic-webfont.woff2") format("woff2"),
    url("fonts/canela-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "canelaregular";
  src: url("fonts/canela-regular-webfont.woff2") format("woff2"),
    url("fonts/canela-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "canelaregular_italic";
  src: url("fonts/canela-regularitalic-webfont.woff2") format("woff2"),
    url("fonts/canela-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bleu);
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5.4rem;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #103242;
  color: transparent;
  text-transform: lowercase;
  letter-spacing: 3.5px;
  text-align: center;
  margin-bottom: 0;
  transition: all 0.8s ease-in-out;
}

h1:hover {
  color: #062f40;
}
h2 {
  font-family: "canelaregular";
  color: #0b2836;
  left: 44px;
  top: 306px;

  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 49px;
  text-align: center;
}

h3 {
  height: 73px;

  font-family: "canelabold";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 73px;
  text-align: center;

  color: #fcdbbd;
}

h4 {
  font-family: "canelabold";

  font-size: 4.2rem;
  color: var(--creme);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
h5 {
  font-family: "canelabold";

  font-size: 3.2rem;
  color: #062f40;
  font-weight: 700;

  text-transform: uppercase;
}

h6 {
  font-family: "canelabold";

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 36px;
  color: var(--bleu);
}
p {
  font-size: 1.6rem;
  color: #4e4535;
  font-weight: 400;
}

/*classes plusiers sections*/

.titre {
  display: flex;
  justify-content: center;
  gap: 6.5rem;
  padding-top: 5rem;
}

.cross {
  background: #062f40;
  height: 100px;
  position: relative;
  top: 80px;
  width: 3px;
}
.cross:after {
  background: #062f40;
  content: "";
  height: 3px;
  left: -40px;
  position: absolute;
  top: 80px;
  width: 400px;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
}

/* hero*/
#hero {
  width: 100%;
}
#hero h2 {
  margin-bottom: 10rem;
}
.icones-fixes {
  display: flex;
  flex-direction: column;

  position: fixed;
  gap: 4rem;
  right: 0;
  margin-top: 16rem;
}

/* #rs2 {
  background-color: rgba(241, 211, 206, 0.53);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 11.8rem;
} */

.rs {
  background-color: rgba(241, 211, 206, 0.53);
}

/* .rs:hover {

 
  width: 5rem;
  height: 5rem;
} */

#shop,
#user,
#search_icon {
  /* background-color: rgba(241, 211, 206, 0.53); */
  /* display: flex; */
  /* width: 8rem; */
  height: 8rem;
  /* justify-content: center;
  align-items: center; */
  /* position: absolute; */
  /* right: 0; */
  padding: 2rem;
}

#shop:hover,
#user:hover,
#search_icon:hover {
  background-color: rgba(241, 211, 206);
  cursor: pointer;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  /* top: 6rem; */
  vertical-align: bottom;
}

.search-container:hover {
  position: relative;
  display: inline-block;
  background-color: rgba(241, 211, 206);

  vertical-align: bottom;
}
.mglass {
  display: flex;
  align-self: center;
}

.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 100%;
  margin: 0;
  /* padding: 2rem; */
  height: 8rem;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  background-color: #f1d3ce;
  color: #062f40;
}

.search {
  position: absolute;
  left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
  background-color: #f1d3ce;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

.search:focus {
  width: 363px; /* Bar width+1px */
  padding: 0 16px 0 0;
}

.expandright {
  left: auto;
  right: 1rem; /* Button width-1px */
  /* top: 2rem; */
}

.expandright:focus {
  padding: 0 0 0 16px;
}

/* #rs2:hover {
  background-color: rgb(241, 211, 206);
  width: 100rem;
  height: 11.8rem;
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  align-items: center;
} */

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 3.2rem;
  margin-left: 8.5rem;
  width: 8rem;
}

.social_media {
  display: flex;
  align-items: right;
  justify-content: space-between;
  width: 10rem;
  margin-right: 5rem;
  padding-top: 7rem;
  gap: 1.5rem;
}
#fb {
  height: 32px;
}

#ig {
  width: 35.12px;
  height: 33.45px;
}

#yt {
  height: 40px;
}

.hamburger--squeeze.is-active + .links {
  background-color: rgba(0, 0, 0, 1);
}
.hamburger--squeeze.is-active + .links a {
  display: block;
}
.categories a:hover {
  position: relative;
  font-weight: 800;
  color: #103242;
}

.categories a:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background-color: #103242;
  bottom: 65%;
  left: -25px;
  transform-origin: 100% 0;
}
.categories a:hover::before {
  content: "";
  display: block;
  position: absolute;
  height: 70%;
  width: 3px;
  background-color: #103242;
  top: 20px;
  left: 0;
  transform-origin: 100% 0;
}
nav.categories a {
  display: none;
  text-decoration: none;
  text-align: center;
  padding: 7.9rem 2rem;
  margin-top: 7.6rem;
  margin: 0;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #37616a;
}

.categories {
  display: block;
  padding-top: 8rem;
}

.categories a:hover {
  position: relative;
  font-weight: 800;
  color: #103242;
}
.categories a::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.categories a::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
}

.categories a:hover::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 60%;
  background-color: #103242;
  bottom: 85%;
  left: -25px;
  transform-origin: 100% 0;
}
.categories a:hover::before {
  content: "";
  display: block;
  position: absolute;
  height: 50%;
  width: 2px;
  background-color: #103242;
  top: 0;
  left: 1rem;
  transform-origin: 100% 0;
}

nav .categories a {
  text-decoration: none;
  text-align: center;
  padding: 7.9rem 2rem;
  padding-top: 2rem;
  margin-top: 7.6rem;
  margin: 0;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #37616a;
}

#btn-hero {
  --offset: 20px;
  --border-size: 2px;

  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: none;
  background: transparent;
  color: #fff8f7;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) #fff8f7;
  transition: background 0.8s ease;
}

#btn-hero {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 12rem 0 0.8rem 0;
}

#btn-hero a {
  color: #f1d3ce;
}

.type3::after,
.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #f1d3ce;
  border-right-color: #f1d3ce;
}

.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #f1d3ce;
  border-left-color: #f1d3ce;
}

.type3:hover:after,
.type3:hover:before {
  border-bottom-color: #fcdbbd;
  border-right-color: #fcdbbd;
  border-top-color: #fcdbbd;
  border-left-color: #fcdbbd;

  width: 100%;
  height: 100%;
}

#btn-hero:hover a {
  color: #fcdbbd;
}

.hero_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-between;
}

@media (max-width: 1209px) {
  .social_media {
    display: none;
  }

  .categories a:hover::before {
    display: none;
  }
  .categories a:hover::after {
    display: none;
  }

  .categories {
    display: none;
  }

  .categories a {
    padding-bottom: 1rem;
  }
  .hamburger--squeeze.is-active + .categories {
    /* background-color: var(--creme); */
    padding-top: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--creme);
    left: 0;
    width: 100%;
    top: 100px;
    transition: all 0.8s ease;
  }

  .hamburger {
    padding: 25px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--bleu);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }
  /*
    * Squeeze
    */
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease,
      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  body.blur {
    filter: blur(5px);
    -webkit-filter: blur(8px);
  }
  .categories {
    filter: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--bleu);
    margin: 2rem 3rem;
    line-height: 40px;
  }

  h2 {
    font-size: 1.8rem;
    margin: 0 3rem;
    line-height: 40px;
  }

  h3 {
    margin: 1rem 3rem;
    font-size: 2rem;
    line-height: 40px;
  }

  #hero h3 {
    margin-bottom: 0;
  }
  nav {
    padding-top: 0;
    background-color: var(--creme);
  }
  .logo {
    padding-top: 0;
    margin-left: 3rem;
    width: 5rem;
  }
  .categories {
    display: none;
  }
  .social_media {
    display: none;
  }
  .icones-fixes {
    display: none;
  }

  #btn-hero {
    margin-top: 8rem;
  }
  .hamburger {
    display: inline-block;
  }
}

/* Vigniettes*/

.viniette_titre {
  width: 12rem;
}

#viniettes {
  background-color: #103242;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding-top: 10rem;

  margin: 0 5% 0 5%;
}

#v_box {
  display: flex;
}
#viniettes > #v_box > div {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 100%;
}

@media (max-width: 768px) {
  #viniettes > #v_box > div {
    flex: 0 1 50%;
  }
  #v_box {
    flex-direction: column;
  }
  #v_box p {
    font-size: 2rem;
  }

  #viniettes {
    padding-top: 5rem;
  }
}
@media (min-width: 1280px) {
  #viniettes > #v_box > div {
    flex: 0 1 25%;
  }
}

#viniettes > #v_box > div > p {
  color: #fff6e0;
  font-size: 2.4rem;
  font-family: "canelaregular";
  text-align: center;
}

#viniettes > #v_box > div > img {
  width: 15rem;
  height: 15rem;
}

/* Ecole */
#ecole {
  background: #fff6e0 url("icones/vector-paysages_bleu-min.svg") no-repeat left;

  padding-bottom: 10rem;
}

.rect1 {
  width: 876px;
  height: 1px;
  border: 2px solid #37616a;
}

.rect2 {
  width: 150px;
  height: 0px;
  border: 2px solid #37616a;
}

#ecole > .titre > h4 {
  color: #103242;
  text-align: center;
}

.flexBoxcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ecole_box {
  margin: 5% 10% 5% 10%;
  background: #fcdbbd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.text_box {
  padding-top: 5rem;
  text-align: left;
  padding-right: 5rem;
  padding-left: 2rem;
}

.text_box h4 {
  text-align: left;
  margin-bottom: 3.5rem;
}

#ecole_img .filtered {
  width: 65rem;
}

#ecole_img {
  display: flex;
  align-self: center;
  object-fit: cover;
}

.filtered {
  position: relative;
  margin: 5rem;
  background-color: #1c6688;
}
.filtered #ecole_img {
  filter: grayscale(100%);
  opacity: 0.5;

  transition: all 0.8s ease-in-out;
}

.filtered #cadeau1 {
  filter: grayscale(100%);
  opacity: 0.5;

  transition: all 0.8s ease-in-out;
}

#cadeau1:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
  background-color: none;
}

.filtered #paysages_photo {
  filter: grayscale(100%);
  opacity: 0.5;

  transition: all 0.8s ease-in-out;
}

#paysages_photo {
  object-fit: cover;
}

#paysages_photo:hover {
  filter: grayscale(0);
  opacity: 1;
}
.filtered:hover #ecole_img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
  background-color: none;
}

.overlay_4 {
  left: 0;
  bottom: 100%;
  height: 0;
  width: 100%;
  overflow: hidden;
  filter: none;
  transition: all 0.3s ease-in-out;
}

.filtered:hover #ecole_img:hover .overlay_4 {
  bottom: 0;
  height: 100%;
}

#btn-ecole {
  width: 494px;
  height: 68px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 0.8em;
  padding: 1em 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #103242;
}

#btn-ecole:hover {
  background-color: var(--orange);
}

@media (max-width: 1209px) {
  #ecole .filtered {
    margin: 2rem;
  }
}
@media (max-width: 768px) {
  #ecole .titre {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  #ecole_img {
    width: 100%;
    display: flex;
  }

  #ecole_box {
    flex-direction: column;
    margin: 5% 0 15% 0;
  }

  #btn-ecole {
    font-size: 1.6rem;
  }
  .filtered {
    margin: 0;
  }
}

/* Cadeau*/

#cadeau {
  background: #103242 url("icones/vector-paysages-min.svg") no-repeat right;

  padding-bottom: 15rem;
}
#cadeau h5 {
  color: #062f40;
  margin-top: 0;
  text-align: center;
}
#cadeau .titre {
  padding-top: 10rem;
}

#cadeau .titre .cross {
  background: #fef8f2;
  left: 2%;
  top: 5rem;
}

#cadeau .titre .cross:after {
  background: #fef8f2;
  right: 50%;
  width: 80rem;
}
#cadeau .filtered {
  padding: 0;
}
#btn_cadeau {
  color: #f1d3ce;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 12rem 0 0.8rem 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25em;
}

.cadeau-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--creme);

  margin: 10% 10% 5% 10%;
}

.box-text {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.box-text p,
.box-text ul li {
  color: #062f40;
  font-size: 1.6rem;
}

#cadeau1 {
  width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

div#cadeau1:hover::after {
  background-color: rgba(24, 17, 225, 0);
}

@media (max-width: 768px) {
  #cadeau {
    padding-bottom: 5rem;
    margin-bottom: 5rem;
  }
  .cadeau-box {
    flex-direction: column;
    margin: 5rem 0 10rem 0;
  }
  #cadeau .titre {
    padding-top: 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  #cadeau .box-text {
    width: 100%;
  }
  h5 {
    font-size: 2.4rem;
  }
  #cadeau img {
    display: flex;
  }

  #btn_cadeau {
    font-size: 1.6rem;
    padding: 1em 0.5em;
  }
}
/* Paysages*/
#paysages .box-text {
  /* padding-left: 10rem;
  padding-right: 9rem;
  padding-top: 5%;
  padding-bottom: 5%; */
}

#paysages {
  background: #103242 url("icones/vector-paysages-min.svg") no-repeat right;

  padding-top: 5rem;
  padding-bottom: 10rem;
}

#paysages .titre .cross {
  background: #fef8f2;
  left: 24rem;
  top: 8rem;
  height: 150px;
}

#paysages .titre .cross:after {
  background: #fef8f2;
  right: 1500rem;
  width: 80rem;
  top: 100px;
}

#paysages h6 {
  padding-top: 5rem;
  font-family: canelabold;
  color: var(--bleu);
}

#paysages .cadeau-box {
  align-items: center;
}

#paysages .box-photo img {
  width: 100%;
  display: flex;
}

#btn_paysage1 {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 5rem 5rem 0.8rem 5rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--rose);
}

#btn_paysage2 {
  color: var(--rose);
  position: relative;
  text-transform: uppercase;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.25em;
  outline: none;
  font-size: 18px;
  margin: 5rem 5rem 0.8rem 5rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #paysages .titre {
    flex-direction: column-reverse;
    align-items: center;
  }
  #paysages .cadeau-box {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #paysages .box-text {
    padding: 5%;
    width: 100%;
  }

  .btns {
    flex-direction: column;
  }
}
/* Contact*/

#contact {
  background: #fff6e0 url("icones/montagnes_fond-min.svg") no-repeat 90% 80%;

  padding-bottom: 10rem;
}

#contact h4 {
  color: #062f40;
}

#contact .titre {
  padding-bottom: 10rem;
}

#contact .cross:after {
  width: 80rem;
}

.flexBox {
  display: flex;
  justify-content: center;
}

.carte {
  margin: 0 0 0 0;
  filter: grayscale(50%) saturate(0.8) hue-rotate(85deg);
  width: 80rem;
}

#contact .filtered {
  margin: 0 0 0 0;
}
#contact address,
#contact a {
  font-weight: 200;
  font-size: 2rem;
  color: #103242;
}
#textBox_contact {
  margin: 0 5% 0 0;
  background: var(--orange);
  padding: 3rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

#contact h6 {
  color: var(--bleu);
  text-align: left;
  font-family: canelabold;
  text-transform: lowercase;
}

#contact .flexBox {
  gap: 2rem;
}

#contact .flexBox a,
#contact .flexBox address,
.icones_contact {
  color: var(--bleu);
}
@media (max-width: 768px) {
  #contact .titre {
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
  }

  #contact .flexBox {
    gap: 0;
  }
  .carte {
    height: 50rem;
    width: 100%;
    display: flex;
  }

  .carte .filtered {
    margin: 0 2rem;
  }
  #textBox_contact {
    margin: 0;
    padding: 2rem 2rem 3rem 3rem;
    gap: 1rem;
  }

  .icones_contact {
    width: 2.4rem;
  }

  .mobile_flex {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
  }
}
/* Pilote*/
#pilote {
  background: #103242;
  padding-bottom: 15rem;
}

#pilote .flexBoxcolumn {
  padding: 0;
}

#pilote .titre .cross {
  background: #fef8f2;
  left: 220px;
  top: 5rem;
}

#pilote .titre .cross:after {
  background: #fef8f2;
  right: 50%;
  width: 100rem;
}

#pilote .titre {
  margin-bottom: 5rem;
}

.brevet_img {
  width: 100%;
  border-radius: 6px;
}

#pilote .flexBox {
  display: flex;
  align-content: space-between;
  gap: 10%;
}

#pilote #boxes_offre {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
  margin: 0 10% 0 10%;
}

.brevet_box > h5 {
  margin-bottom: 2rem;
}

.brevet_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  background: #f1d3ce;
  border-radius: 0.6rem;
}

.brevet_box > p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: 0;
}

.brevet_box > img {
  max-width: 100%;
}

#montagnes-fond {
  height: 15vh;

  z-index: 1;
}

@media (max-width: 768px) {
  #pilote {
    padding-bottom: 0;
  }

  #pilote .titre {
    flex-direction: column-reverse;
    align-items: center;
  }
  #pilote .flexBox {
    flex-direction: column;
    margin: 0 10%;
  }
  .brevet_box {
    width: 90%;
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .flexBox {
    flex-direction: column;
  }
  .titre {
    margin: 2rem;
    gap: 2rem;
    padding-top: 0;
  }
  .titre .cross {
    display: none;
  }

  h4 {
    font-size: 3.2rem;
  }
}

@media (max-width: 1209px) {
  .titre .cross {
    display: none;
  }
  .titre {
    padding: 0 10%;
  }
}
